@media (min-width: 600px) {
.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid blue; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 13.5s steps(75, end),
    blink-caret .75s step-end infinite;
    color:Green;
}

/* The typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: 50 % transparent; }
  70% { border-color: Blue; }
}
  @media screen and (max-width:500px){
    object-size: contain
  }
}
.typewriter figcaption {
color:Blue; 
}
.team-container {
  display: flex;
  textarea-rows: 4;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  max-width: 1200px;
  padding: 3px;
}

.team-card {
  box-shadow: 4px 8px 12px 1 rgba(0,0,0,7.5);
  transition: 1s;
  width: 24%;
  margin: 1%;
  padding: 16px;
  text-align: center;
}

.team-card img {
  width: 100%;
  height: auto;
}

.team-card:hover {
  box-shadow: 0 88px 165px 0 rgba(0,5,55,0.2);
}

.section {}
